body {
    font-family: Arial, sans-serif;
    background-color: #a6a4a4;
    margin: 0px;
    padding: 0px;
}

.container {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cadastrar {
    text-align: center;
}

h1, h2 {
    color: #333;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #c5c4c4;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

form p {
    margin-bottom: 4px; /* Ajuste para a distância que preferir */
}

button {
    background: #323232;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background: #0056b3;
}

a {
    display: inline-block;
    margin-top: 10px;
    color: #01244a;
    text-decoration: none;
}
