{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <h2>Login</h2>

    {% if form.errors %}
    <p style="color:red;">Usuário ou senha inválidos!</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Entrar</button>
    </form>
    {% if not user.is_authenticated %}
        <p><a href="{% url 'registrar' %}">Registrar nova conta</a></p>
    {% endif %}
</body>
</html>
